body {
  margin: 0;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.23), rgba(0, 0, 0, 0.2)),
    url("images/bg.jpg");
  background-size: cover;
  background-position: center;
}
